@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    font-family: Poppins;
}

.header {
    margin-bottom: 2rem;
}

.header h1 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
    color: #000;
}

.header p {
    color: #000;
    font-size: 1rem;
    font-weight: 500;
}

.input-group {
    margin-bottom: 1.2rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: #000;
}

input {
    width: 100%;
    padding: 0.6rem;
    border: 2px solid #D9D9D9;
    border-radius: 10px;
    font-family: Poppins;
    font-size: 0.7rem;
    outline: none;
    transition: border-color 0.3s;

    &:focus {
      border-color: #3A5A40; 
    }
}

.label-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forgot-password {
    font-size: 0.8rem;
    color: #0C2A92;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;

    input[type="checkbox"] {
    width: auto;            
    margin: 0;              
  }
}

.btn-login {
    width: 100%;
    padding: 0.6rem;
    background-color: #3A5B22;
    font-family: Poppins;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s;

    &:hover {
        background-color: #2c4430;
    }
}

.divider {
    text-align: center;
    margin: 1.5rem 0;
    position: relative;
}

.divider span {
    background-color: #fff;
    padding: 0 10px;
    color: #888;
    font-size: 0.8rem;
    position: relative;
    z-index: 1;
}

.social-login {
    display: flex;
    gap: 1rem;

    &:hover {
      background-color: #f9f9f9;
    }
}

.btn-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    padding: 0.6rem;
    background: transparent;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    cursor: pointer;
    font-family: Poppins;
    font-size: 0.8rem;
    font-weight: 500;
}

img {
    width: auto;
    height: auto;
}

.footer {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
}

.footer a {
    color: #0F3DDE;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}