* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    flex: 1;
    height: 100vh;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

